.scrollable-menu {
	height: auto;
	max-height: 550px;
	overflow-x: hidden;
}
			
html,body{
	height: 100%;
	padding-bottom: 60px;
}

.rowcenter{
	float: none; 
	margin: 0 auto;
}

.container{
	height:auto;
	min-height:100%;
} 

.navbar {
    background-color: #2c3e50;
}

.footer {
    color: #fff;
	width:100%;
}

.footer .footer-above {
    background-color: #2c3e50;
}

.footer .footer-below {
    background-color: #233140;
}

.btn-social {
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 35px;
    height: 35px;
}

.scroll-top .btn {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    font-size: 15px;
    line-height: 30px;
}

.scroll-top .btn:focus {
    outline: 0;
}

.btn-outline {
    border: solid 2px #fff;
    font-size: 15px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #18bc9c;
    background: #fff;
}